*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints

build
builds
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache

docs/_build
docs/apidocs

venv
extras/ssh/.release
extras/jupyter/.release
setup.py-e

# ide
.idea
.eclipse
.vscode
.DS_Store

**/Chart.yaml-e
