[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[[source]]
url = 'https://nexus.engageska-portugal.pt/repository/pypi/simple'
verify_ssl = true
name = 'nexus'

[packages]
# numpy and pytango versions must match those in the ska-python-builder image,
# otherwise pytango will be recompiled.
pytango = { version="==9.3.1", index="pypi" }
numpy = { version="==1.17.2", index="pypi" }
# itango is added to make it easier to exercise the device in a CLI session,
# but it's not mandatory. If you remove itango, you should also remove the
# 'RUN ipython profile create' line from Dockerfile.
itango = { version="*", index="pypi" }
## If you want to debug devices running in containers, add pydevd to the dependencies
#pydevd = "*"

#SKA Configuration Data Model (used for formatting API requests from OET to TMC)
cdm-shared-library = { version="*", index="nexus"}
flask = { version="*", index="pypi" }
requests = { version="*", index="pypi" }
fire = { version="*", index="pypi" }
tabulate = { version="*", index="pypi" }
skuid = { version=">=0.0.1", index="nexus"}

[dev-packages]
docutils = { version="*", index="pypi" }
MarkupSafe = { version="*", index="pypi" }
Pygments = { version="*", index="pypi" }
pylint = { version="*", index="pypi" }
pytest = { version="*", index="pypi" }
pytest-cov = { version="*", index="pypi" }
pytest-pylint = { version="*", index="pypi" }
pytest-json-report = { version="*", index="pypi" }
python-dotenv = { version="*", index="pypi" }
ptvsd = { version="*", index="pypi" }
requests-mock = { version="*", index="pypi" }
Sphinx = { version="*", index="pypi" }
sphinx_rtd_theme = { version="*", index="pypi" }
sphinx-autobuild = { version="*", index="pypi" }
sphinxcontrib-websupport = { version="*", index="pypi" }

[requires]
python_version = "3"

[pipenv]
allow_prereleases = false
