coverage
darglint
docstr-coverage
flake8
flake8-black
flake8-builtins
flake8-fixme
flake8-rst-docstrings
flake8-use-fstring
flake8_formatter_junit_xml
pytest
pytest-bdd
pytest-cov
pytest-json-report
pytest-mock
pytest-repeat
pytest-xdist
requests-mock